form {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#tweet-text {
  border: none;
  border-bottom: 5px solid gray;
  background-color: transparent;
  resize: none;
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  width: 100%; 
  max-width: 100%;
}

section.new-tweet {
  width: 90%;
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  font-family: 'bungee';
}

#button {
  border: none;
  background-color: #4056A1;
  color: #FFFFFF;
}

.error {
  display: flex;
  padding: 10px;
  justify-content: center;
  width: 50%;
  border: 3px solid red;
  align-self: center;
  margin: 0 auto;
  color: red;

  .message {
    margin: 5px;
  }

  .fa-circle-exclamation {
    font-size: 1.5em;
  }
}

