nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
nav span {
  padding-top: 30px;
  display: block;
  font-family: "bungee";
  font-size: 40px;
}
nav p {
  height: 5px;
}
nav .write-new {
  display: flex;
  flex-direction: column;
}
nav .fa-angles-down {
  align-self: center;
  color: red;
  position: relative;
  animation: updown 2s ease infinite;
}

.character-exceeded {
  color: red;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  nav {
    background-color: transparent;
  }
  main.container {
    padding-top: 20px;
  }
}
