article.tweet {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 220px;
  width: 90%;
  border: 5px solid grey;
}

article > header > div {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-end;
}

.tweet-header {
  display: flex;
}

.user-avatar {
  margin-top: 20px;
  margin-left: 20px;
  height: 50px;
  width: 50px;
}

#username {
  color: gray
}

.tweet-body {
  align-self: center;
  width: 95%;
  padding-bottom: 15px;
  border-bottom: 5px solid gray;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 95%;
}

.fa-flag {
  color: #4056A1;
}

.fa-retweet {
  color: #4056A1;
}

.fa-heart {
  color: #4056A1;
}